[Unit]
Description=Show shazall on LCD via Python
After=multi-user.target

[Service]
ExecStart=/home/[yourusername]/shazall/venv/bin/python3 /home/[yourusername]/shazall/shazall.py
WorkingDirectory=/home/[yourusername]/shazall
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=[yourusername]
Group=[yourusername]

[Install]
WantedBy=multi-user.target