[Unit]
Description=Show shazall on LCD via Python
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/jonk/shazall/shazall.py
WorkingDirectory=/home/jonk/shazall
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=jonk
Group=jonk

[Install]
WantedBy=multi-user.target